body {
  margin: 0;
  padding: 0;
  background: url('/static/images/back2.jpg');
  background-size: cover;
}

.login {
	
  margin: 50px auto;
  margin-top: 10%;
  left: 30%;
  width: 300px;
  padding: 30px 25px;
  
  /*background: white;*/
  border: 1px solid #c4c4c4;
  border-radius: 15px;
  background: rgba(0,0,0,.1);
}

h1.login-title {
  margin-top : 0px;
  margin-bottom : 20px;
  padding: 15px 15x;
  line-height: 30px;
  font-size: 25px;
  font-weight: 300;
  text-align:center;
  color:white;
}

.login-input {
  width: 285px;
  height: 50px;
  margin-bottom: 25px;
  padding-left:10px;
  font-size: 15px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.login-input:focus {
    border-color:white;
    outline: none;
  }
.login-button {
  width: 100%;
  height: 50px;
  padding: 0;
  font-size: 20px;
  color: #fff;
  text-align: center;
  background: #f0776c;
  border: 0;
  border-radius: 20px;
  cursor: pointer; 
  outline:0;
}

.login-button:hover {
    background: #08d82e;
	
}
.login-lost
{
  text-align:center;
  margin-bottom:0px;
}

.login-lost a
{
  color:#666;
  text-decoration:none;
  font-size:13px;
}

.logout{
	float: right;
}

